# Google Cloud Configuration
PROJECT_ID=<project-id>
LOCATION=asia-southeast1

# Optional: Google Cloud Service Account Key Path
# GOOGLE_API_KEY=<google-api-key>
SERVICE_ACCOUNT_CREDENTIALS=<json-filename-stored-in-credentials-directory>

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=true